.select {
    width: 269.061px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 12.137px;
    border: 0.809px solid #636363;
    color: #FFF;
    font-family: var(--font-main);
    font-size: 19.42px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 19.42px */
    padding: 0px 15px 0px 15px;
    background: #22292B;
    margin: 0px 30px 0px 0px ;

    cursor: pointer; /* Добавленный стиль курсора */
}

.select:hover {
    
}

.select:focus {
    outline: none; /* Убрать обводку при фокусировке */
}

.option {
    font-family: var(--font-main);
    background: #3030308e;
    color:#C6C6C6 ;
    font-size: 19.88px;
    font-weight: 700;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.option:hover
{
  background: orange;
  color: #fff;
}