.select{
    width: 269.061px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 12.137px;
    border: 0.809px solid #636363;
    color: #FFF;
    font-family: var(--font-accent);
    font-size: 19.42px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 19.42px */
    padding: 0px 15px 0px 15px;
    background: #22292B;
    margin: 0px 30px 0px 0px ;
    .option{
        font-family: var(--font-accent);
        background: #22292B;

        &:hover{
            background-color: #636363;
        }
    }

    &:active{
        border: 0.809px solid #636363;
    }
}