.managebutton{
    width: 158.492px;
    height: 40.468px;
    border-radius: 11.316px;
    border: 1px solid #636363;
    color: #000;
    font-family: 'Monda', sans-serif;
    font-size: 18.105px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 18.105px */
}